*{
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(to right,#91c788,#ddffbc)
	height:100vh;

}
.slides input{
	display: none;
}
.slider-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider{
	width: 800px;
	height: 500px;
	border-right: 10px;
	overflow: hidden;
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
}
.slide{
transition: 1s;
width: 20%;
}
.slide img{
	width: 800px;
	height: 500px;
}
.manual-navigation{
position: absolute;
width: 510px;
display: flex;
justify-content: center;
margin-top: -50px;

}
.manual-navigation .manual-btn{
	padding: 6px;
	border: 2px solid red;
	border-radius: 50%;
	cursor: pointer;
	transition: 1s;
	margin: 10px;
}
.manual-navigation .manual-btn:hover{
background :red;
}
.manual-navigation .manual-btn:not (:last-child){
	margin-right: 30px;
}
.next-btn{
	position: absolute;
	top: 30%;
	right: 44%;
	color:white;
	font-size: 52px;
}
.prev-btn{
	position: absolute;
	top: 30%;
	left: 23%;
	color:white;
	font-size: 52px;
}
.next-btn:hover,.prev-btn:hover{
	cursor: pointer;
}